/* Normalize style */
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  font-family: "Montserrat", sans-serif;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1.67;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  color: #533738;
  background-color: #e5e5e5;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button,
a {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
/*--------------------*/

.wrapper {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 1400px;
  min-height: 100%;
  flex-direction: column;
  margin: 0 auto;
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  position: absolute;
  top: 0;
  width: 100%;
}

.header__navigation {
  display: flex;
  max-width: 1200px;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  padding-top: 36px;
  margin: 0 auto;
}

.header__logo a,
.menu__link,
.header__phone a {
  font-size: 0.89rem;
  line-height: 1.1;
  font-style: normal;
  color: #533738;
}

.header__logo a::before {
  position: relative;
  top: 6px;
  content: url("../images/logo-icon.png");
  width: 100%;
  height: 100%;
}

.menu__list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
  gap: 1.45rem;
}

.menu__item,
.header__phone {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.menu__item::after,
.header__phone::after {
  position: absolute;
  display: block;
  content: "";
  height: 3px;
  width: 0%;
  left: 50%;
  background-color: #533738;
  -webkit-transition: width 0.3s ease-in-out;
  -moz--transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
}

.menu__item:hover:after,
.menu__item:focus:after,
.header__phone:hover:after,
.header__phone:focus:after {
  width: 100%;
}

.btn {
  display: inline-block;
  width: 309px;
  height: 74px;
  margin-top: 21px;
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 74px;
  text-align: center;
  color: #533738;
  background-color: #cc8b86;
  transition: all 0.5s ease;
}

.btn:hover {
  background-color: #a16965;
}

.main {
  display: flex;
  flex: 1 1 auto;
  flex-wrap: wrap;
}

.promo {
  width: 100%;
  height: 715px;
  background-image: url(../images/content/promo-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #e5e5e5;
}

.promo__container {
  max-width: 534px;
  margin-top: 152px;
  margin-left: 184px;
}

.promo__title {
  font-size: 2.78rem;
  line-height: 1.24;
  color: #533738;
}

.promo__description {
  max-width: 440px;
  margin-top: 24px;
}

.about,
.works,
.reviews {
  width: 100%;
  background-color: #efe6e4;
}

.title {
  font-size: 2.22rem;
  line-height: 1.25;
}

.about__title,
.reviews__title {
  margin-top: 65px;
  text-align: center;
}

.about__container,
.team__container,
.reviews__container {
  max-width: 1037px;
  width: 100%;
  margin: 40px auto 0;
}

.about__content {
  display: flex;
  padding-bottom: 21px;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: space-between;
  align-items: flex-start;
  gap: 3.55rem;
}

.about__description p:not(:last-child) {
  padding-bottom: 30px;
}

.about__statistics {
  width: 100%;
  padding: 85px 0 81px;
  background-color: #8d7370;
}

.statistics__list {
  max-width: 1037px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}

.statistics__item {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  row-gap: 0.44rem;
}

.statistics__number,
.statistics__text {
  text-transform: uppercase;
  color: #ffffff;
}

.statistics__number {
  font-size: 2.78rem;
  line-height: 1.24;
}

.statistics__text {
  font-weight: 500;
  font-size: 1.67rem;
  line-height: 1.23;
}

.hidden {
  opacity: 0;
}

.works__title,
.works__container,
.impression__content {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  margin-top: 65px;
}

.works__container {
  margin-top: 40px;
}

.works__content {
  display: flex;
  flex-wrap: wrap;
  row-gap: 1.66rem;
  column-gap: 1.11rem;
}

.works__img {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.works__img img {
  -webkit-transition: all 0.5s ease-in-out;
  -moz--transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.container__description {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  justify-content: center;
  row-gap: 1.22rem;
  padding: 0 35px;
  color: #ffffff;
  background: rgba(100, 72, 69, 0.8);
  -webkit-transition: all 0.5s ease-in-out;
  -moz--transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.works__img:hover img,
.works__img:focus img {
  transform: scale(1.1);
}

.works__img:hover .hidden,
.works__img:focus .hidden {
  opacity: 1;
}

.container__title {
  max-width: 270px;
  font-weight: 500;
  font-size: 1.66rem;
  line-height: 1.23;
  text-align: center;
}

.works__arrow-next button::after {
  position: relative;
  left: 10px;
  content: url("../images/arrow.svg");
  width: 100%;
  height: 100%;
}

.works__arrow-next {
  padding: 40px 0 65px 0;
  text-align: center;
}

.works__arrow-next button {
  font-weight: 500;
  font-size: 1.66rem;
  line-height: 1.23;
  color: #533738;
  background-color: transparent;
}

.works__arrow-next button:hover::after {
  animation: 0.4s linear 0.1s infinite alternate slidein;
}

.team,
.impression {
  width: 100%;
  padding-bottom: 35px;
  background-color: #e2c4ba;
}

.team__title {
  margin-top: 50px;
  text-align: center;
}

.team__content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: space-between;
  column-gap: 2.1rem;
}

.team__content figcaption {
  max-width: 320px;
  margin-top: 10px;
}

.impression__title {
  text-align: center;
}

.impression__content {
  margin-top: 40px;
  padding-bottom: 45px;
}

.impression__list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: space-between;
  align-items: flex-start;
  column-gap: 1.11rem;
  counter-reset: section;
  list-style-type: none;
}

.impression__item {
  position: relative;
  max-width: 285px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  row-gap: 1.11rem;
  align-items: center;
  text-align: center;
}

.impression__item::before {
  position: relative;
  top: 0;
  left: 0;
  width: 70px;
  height: 70px;
  counter-increment: section;
  content: counter(section);
  font-weight: 500;
  font-size: 1.66rem;
  line-height: 70px;
  text-align: center;
  border-radius: 50%;
  color: #ffffff;
  background-color: #8d7370;
}

.reviews__content {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: space-between;
  align-items: center;
  column-gap: 1.11rem;
  padding-bottom: 65px;
}

.reviews__btn-prev,
.reviews__btn-next {
  position: relative;
  top: 50%;
  width: 72px;
  height: 72px;
  margin-right: 0.5rem;
  margin-top: -22px;
  cursor: pointer;
  background-color: #cc8b86;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../images/prev-arrow.svg");
  border-radius: 50%;
  transition: 0.6s ease;
}

.reviews__btn-next {
  left: auto;
  right: 0;
  margin-right: 0;
  margin-left: 0.5rem;
  background-image: url("../images/next-arrow.svg");
}
.reviews__quote {
  max-width: 407px;
}

.reviews__img {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  row-gap: 1.33rem;
  flex: 1;
}

.reviews__quote p {
  padding-bottom: 19px;
}

.application {
  width: 100%;
  background-color: #8d7370;
}

.application__content {
  max-width: 1152px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.application__container {
  margin-top: 50px;
}

.application__title {
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
}

.application__container p {
  max-width: 507px;
  padding: 24px 0 44px 0;
  color: #ffffff;
  opacity: 0.6;
}

.application__form {
  width: 508px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 1.72rem;
}

.application__form input:not(:last-child) {
  margin-bottom: 0.22rem;
}

.application__form input {
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.66rem;
  padding-bottom: 5px;
  border-bottom: 1px solid #ffffff;
  color: #f6ede9;
  background-color: transparent;
}

.application__form input::placeholder {
  color: #f6ede9;
  font-size: 1rem;
}

.application__button {
  margin-top: 0;
}

@keyframes slidein {
  from {
    left: 0;
  }
  to {
    left: 10px;
  }
}
