/* Normalize style */
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  font-family: "Montserrat", sans-serif;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1.67;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  color: #533738;
  background-color: #e5e5e5;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button,
a {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
/*--------------------*/

.wrapper {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 1400px;
  min-height: 100%;
  flex-direction: column;
  margin: 0 auto;
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  position: absolute;
  top: 0;
  width: 100%;
}

.header__navigation {
  display: flex;
  max-width: 1200px;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  padding-top: 36px;
  margin: 0 auto;
}

.header__logo a,
.menu__link,
.header__phone a {
  font-size: 0.89rem;
  line-height: 1.1;
  font-style: normal;
  color: #533738;
}

.header__logo a::before {
  position: relative;
  top: 6px;
  content: url("../images/logo-icon.png");
  width: 100%;
  height: 100%;
}

.menu__list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
  gap: 1.45rem;
}

.menu__item {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.menu__item::after {
  position: absolute;
  display: block;
  content: "";
  height: 3px;
  width: 0%;
  left: 50%;
  background-color: #533738;
  -webkit-transition: width 0.3s ease-in-out;
  -moz--transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
}

.menu__item:hover:after,
.menu__item:focus:after {
  width: 100%;
}

.btn {
  display: inline-block;
  width: 309px;
  height: 74px;
  margin-top: 21px;
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 74px;
  text-align: center;
  color: #533738;
  background-color: #cc8b86;
  transition: all 0.5s ease;
}

.btn:hover {
  background-color: #a16965;
}

.main {
  display: flex;
  flex: 1 1 auto;
  flex-wrap: wrap;
}

.promo {
  width: 100%;
  height: 715px;
  background-image: url(../images/content/promo-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #e5e5e5;
}

.promo__container {
  max-width: 534px;
  margin-top: 152px;
  margin-left: 184px;
}

.promo__title {
  font-size: 2.78rem;
  line-height: 1.24;
  color: #533738;
}

.promo__description {
  max-width: 440px;
  margin-top: 24px;
}

.about,
.works {
  width: 100%;
  background-color: #efe6e4;
}

.title {
  font-size: 2.22rem;
  line-height: 1.25;
}

.about__title {
  margin-top: 65px;
  text-align: center;
}

.about__container {
  max-width: 1037px;
  width: 100%;
  margin: 40px auto 0;
}

.about__content {
  display: flex;
  padding-bottom: 21px;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: space-between;
  align-items: flex-start;
  gap: 64px;
}

.about__description p:not(:last-child) {
  padding-bottom: 30px;
}

.about__statistics {
  width: 100%;
  padding: 85px 0 81px;
  background-color: #8d7370;
}

.statistics__list {
  max-width: 1037px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}

.statistics__item {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  row-gap: 8px;
}

.statistics__number,
.statistics__text {
  text-transform: uppercase;
  color: #ffffff;
}

.statistics__number {
  font-size: 2.78rem;
  line-height: 1.24;
}

.statistics__text {
  font-weight: 500;
  font-size: 1.67rem;
  line-height: 1.23;
}
